<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Listing de tous les articles</h1>
        <p>
            <%= link_to "Creer nouvel article", new_article_path %>
        </p>
        <%= render 'articles', obj: @articles %>
    </div>
</div>
