<div class="center container">
    <div class="jumbotron">
      <h1>Alpha Blog</h1>
      <p>Bienvenue dans l'alpha blog mon pote</p>
      <p><%= link_to "S'inscrire", '#', class: "btn btn-primary btn-lg" %></p>
    </div>
</div>