<div class="center container">
    <div class="jumbotron">
      <h1>Alpha blog</h1>
      <p>Bienvenue sur Alpha Blog mon pote</p>
      <p><%= link_to "S'inscrire", signup_path, class: "btn btn-primary btn-lg" %></p>
    </div>
</div>