$navbar-default-bg: #212F3D;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center {
    text-align: center;
}