$navbar-default-bg: #212F3D;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('jakub-kriz.jpg');
    background-size: cover;
    height: 550px;
}

.article-actions {
    border-top: 1px solid #bfbfbf;
    padding-top: 15px;
    margin-top: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #bfbfbf;
    color: #808080;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
