<div class="container">
    <footer>
        <small>
            Alpha blog from <%= link_to "Rails Heroes Course", "https://www.railsheroescourse.fr" %> Copyright by Harry Jmg
        </small> 
        <nav>
            <ul>
                <li><%= link_to "A propos", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>